{% extends "base.html.twig" %}
{% block title %}
    Web Setup
{% endblock title %}
{% block content %}

    <div class="card">
        <div class="card-body p-3">
        {# <div class="container"> #}
            <div class="row my-5" style="margin-left: 15px;">
            <div class="col-md-6">
                {% if not framework_ready %}
                    <h1><i class="fas fa-tools"></i></h1>
                    <h2>Framework Not Ready</h2>
                    <p style="color: red;">The framework is currnetly not available. Please check the logs in the <a href="/settings">settings page</a> for detailed information.</p>
                    <p>
                        <a href="/edgeapps">
                            <button class="btn btn-icon btn-3 btn-secondary" type="button">
                                <span class="btn-inner--icon" style="margin-right: 10px;"><i class="ni ni-bold-left"></i></span>
                                <span class="btn-inner--text">Go back</span>
                            </button>
                        </a>
                    </p>

                {% else %}
                    {% if result == "executing" %} 
                        <h1><img src="/assets/img/spinner.gif"></h1>
                        <p><b>
                                {% if action == "enable_public_dashboard" %}
                                    <h2>Enabling public access to dashboard ... </h2><p>This can take a minute...</p>
                                {% endif %}
                                {% if action == "disable_public_dashboard" %}
                                    <h2>Disabling public access to dashboard ... </h2><p>This can take a minute...</p>
                                {% endif %}
                            </b></p>

                        <script>

                            redirectTimeout = 60000

                            window.setTimeout(function(){

                                {% if action == "disable_public_dashboard" %}
                                    // Disabling public access to the dashboard while using public access will result in a problem. So we must redirect to the local url
                                    window.location.href = "/settings?alert=enable_public_dashboard&type=success";

                                {% else %}
                                    // Move to the settings view...
                                    window.location.href = "/settings?alert={{action}}&type=success";
                                {% endif %}


                            }, redirectTimeout); // This is a loooong time... It can be better! (sysctl)
                        </script>
                    {% endif %}

                    {% if result == "invalid_action" %}
                        <h2 style="color: red;">Error: Invalid Action</h2>
                        <a href="/edgeapps">
                            <button class="btn btn-icon btn-3 btn-secondary" type="button">
                                <span class="btn-inner--icon" style="margin-right: 10px;"><i class="ni ni-ungroup"></i></span>
                                <span class="btn-inner--text">Go Back</span>
                            </button></p>
                        </a>
                    {% endif %}

                    {% if result == "error" %}
                        <h1><i class="ni ni-support-16"></i></h1>
                        <h2>Unexpected Error</h2>
                        <p>A problem ocurred when performing this operation.</p>
                        <p>
                            <a href="/settings/logs" target="_blank">
                                <button class="btn btn-icon btn-3 btn-secondary" type="button">
                                    <span class="btn-inner--icon" style="margin-right: 10px;"><i class="ni ni-ungroup"></i></span>
                                    <span class="btn-inner--text">See Detailed Logs</span>
                                </button>
                            </a>
                        </p>
                        
                    {% endif %}

                {% endif %}
            </div>
            </div>
        {# <div> #}
        </div>
    </div>
{% endblock content %}
