<!--
=========================================================
* Base Clean Template - No Nav, no menus, just content. based on Soft UI Dashboard - v1.0.1
=========================================================

* Base on: https://www.creative-tim.com/product/soft-ui-dashboard
* Copyright 2021 Edgebox (https://www.edgebox.io.com)
* Licensed under MIT (https://github.com/creativetimofficial/soft-ui-dashboard/blob/master/LICENSE.md)

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/assets/img/favicon.png">
  <title>
    Edgebox | {% block title %}Home{% endblock title %}
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="/assets/css/soft-ui-dashboard.css?v=1.0.1" rel="stylesheet" />
</head>

<body class="bg-gray-100">
  <main class="main-content mt-1 border-radius-lg">
    <div class="container-fluid py-4">
      
      {% block content %}
      {% endblock content %}

    </div>
  </main>
</body>

</html>