<div class="row my-5">
    <div class="col-md-6">
        <h2>{{main_title}}</h2>
        <br>
        <p><a href="{{button_link}}" {% if new_tab %}target="_blank"{% endif %}><button type="button" class="btn btn-outline-dark">{{button_title}}</button></a></p>
        <p></p>
    </div>
</div>