{% extends "base.html.twig" %}
{% block title %}
    Add Storage Device
{% endblock title %}
{% block content %}

    <div class="">
        <div class="" style="margin-top: -25px;">
            {{ include('partials/_row_title_block.html.twig', {main_title: 'Choose device type'})}}
            <div class="row" style="margin-top: -25px;">
                <div class="col-md-12">
                    <p>Test</p>
                </div>
            </div>
    </div>

{% endblock content %}
