{% extends "base.html.twig" %}
{% block title %}
    Coming Soon
{% endblock title %}
{% block content %}
    <div class="card">
        <div class="card-body p-3">
        {# <div class="container"> #}
            <div class="row my-5" style="margin-left: 15px;">
            <div class="col-md-6">
                <h1><i class="fas fa-tools"></i></h1>
                <h2>Currently not available</h2>
                <p>Sorry, but this section is currently not ready. It will be released in a future update!</p>
                <p>
                    <a href="https://edgebox.io/roadmap" target="_blank">
                        <button class="btn btn-icon btn-3 btn-secondary" type="button">
                            <span class="btn-inner--icon" style="margin-right: 10px;"><i class="ni ni-ungroup"></i></span>
                            <span class="btn-inner--text">See the roadmap</span>
                        </button></p>
                    </a>
            </div>
            </div>
        {# <div> #}
        </div>
    </div>
{% endblock content %}