{% extends "base.html.twig" %}
{% block title %}
    Storage
{% endblock title %}
{% block content %}

    {% if not storage_ready %}

        <div class="card">
            <div class="card-body p-3">
                <div class="row my-5">
                <div class="col-md-6">
                    <lottie-player src="https://assets2.lottiefiles.com/private_files/lf30_zuhhhnsa.json"  background="transparent"  speed="1"  style="max-width: 250px; width: 100%; height: auto;"  loop autoplay></lottie-player>
                    <h2>Gathering Information</h2>
                    <p>Edgebox is reading the storage information and setting up. Please try again in a few moments.</p>
                    <p>
                        <a href="/storage">
                            <button class="btn btn-icon btn-3 btn-secondary" type="button">
                                <span class="btn-inner--icon" style="margin-right: 10px;"><i class="ni ni-curved-next"></i></span>
                                <span class="btn-inner--text">Reload</span>
                            </button>
                        </a>
                    </p>
                </div>
                </div>
            </div>
        </div>

    {% else %}

        <div class="">
            <div class="" style="margin-top: -25px;">
                {{ include('partials/_row_title_block.html.twig', {main_title: 'Your Storage Devices', sub_title: 'See how much data your applications and sources are using.'}) }}
                <div class="row" style="margin-top: -25px;">
                    <div class="col-md-12">
                        {{ include('partials/_row_storage_devices_list.html.twig', {storage_devices: storage_devices}) }}
                    </div>
                </div>
            </div>
        </div>
        
    {% endif %}

{% endblock content %}
