<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Edgebox Web Setup</title>
        <link rel="stylesheet" href="/assets/css/style.css">
    </head>

    <body>
        <main class="container">
            <article class="content" style="width: 70%;">
                <p><img src="/assets/img/crest.png"></p>
                <h3><strong>Edgebox Web Setup - Internet Access</strong></h3>
                <p>Status: {{ status }} {% if not show_form %}<a href="/setup/access/logout">(Logout)</a>{% endif %}</p>
                <br>
                {% if show_form %}
                    <p>
                        To provide access to your EdgeApps through the internet, you need to <b>login using your <a target="_blank" href="https://edgebox.io">Edgebox.io</a> Account</b>. 
                        <br>
                        You will then be able to choose which EdgeApps you want accessible outside your home network.
                        <br>
                        <form action="" method="POST">
                            <div>
                                <label for="username">Username:</label>
                                <input type="text" name="username" id="edgeboxio-username">
                            </div>
                            <div>
                                <label for="password">Password: </label>
                                <input type="password" name="password" id="edgeboxio-password">
                            </div>
                            <div>
                                <button>Login & Setup</button>
                            </div>
                        </form>

                    </p>
                {% else %}
                    <p>Connection status: {{ connection_status }}</p>
                    <p>Connection details:</p>
                        <ul id="connection-details">
                        {% for key,item in connection_details %}
                            <li>{{ key }}: {{ item }}</li>
                        {% endfor %}
                        </ul>
                {% endif %}
            </article>
        </main
    </body>
</html>