<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Edgebox API Base</title>
        <link rel="stylesheet" href="/assets/css/style.css">
    </head>

    <body>
        <main class="container">
            <article class="content">
                <p><img src="/assets/img/crest.png"></p>
                <p><strong>Edgebox API</strong></p>
                <br>
                <p>This service is not available via a web-browser</p>
                <br>
                <p><a href="/docs">API Documentation</a></p>
            </article>
        </main
    </body>
</html>