{% extends "base.html.twig" %}
{% block title %}
    API Base
{% endblock title %}
{% block content %}
    <article class="content">
        <p><img src="/assets/img/crest.png"></p>
        <p><strong>Edgebox API</strong></p>
        <br>
        <p>This service is not available via a web-browser</p>
        <br>
        <p><a href="/docs">API Documentation</a></p>
    </article>
{% endblock content %}
